.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 15%;
}

.details-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5%;
    
}

.h1-movie{
    font-size: 60px;
    color: #fff;
    
}

.movie-info {
    display: flex;          
    flex-direction: column; 
    gap: 5px;              
}

.rating {
    margin-left: 13%;
    margin-top: -20px;
    color: #cdcdcd;
    
}

.runtime-movie{
    margin-top: -40px;
    color: #cdcdcd;
}

.coutry-movie,  .dates, .p-movie, .actors, .writers {
    color: #cdcdcd;
    font-size: 20px;
    width: 60%;
    margin-top: -05px;
}


select {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.seasons-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-top: 20px;
}

.image-and-seasons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    
}

.img-movie {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.seasons-dropdown {
    width: 100%; 
    display: flex;
    justify-content: center;
    
}

.temporada{
    font-size: 25px;
    color: #fff;
}

.episode-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 10px 0;
}

.h1-ep{
    font-size: 25px;
    color: #fff;
}

.title-ep{
    font-size: 25px;
    color: #fff;
}

.episode-poster {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.episode-details {
    display: flex;
    flex-direction: column;
    
}

.back-button {
    position: absolute;
    top: 20px;
    left: 90px;
    background-color: #c5c5c5;
    border: 1px solid #e0e0e0;
    color: #000;
    border-radius: 50%;
    padding: 5px 10px;
    height: 25px;
    width: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;


}

.back-button:hover {
    background-color: #b0b0b0;
    transform: scale(1.05);
}

@media (max-width: 1280px) {
    .main-container {
        margin-left: 10%;  
    }
}

@media (max-width: 1024px) {
    .details-container {
        width: 90%; 
    }
    .main-container {
        margin-left: 5%; 
    }
}

@media (max-width: 768px) {
    .details-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        display: flex;           
        justify-content: center; 
        align-items: center;     
    }

    .h1-movie {
        font-size: 40px;
    }

    .dates, .rating {
        font-size: 22px;
        margin-top: 10px;
        margin-left: 0;
    }

    .p-movie, .temporada, .h1-ep, .title-ep {
        font-size: 18px;
    }

    .directors {
        font-size: 16px;
    }

    .movie-info {
        margin-top: 10px;
        padding-left: 0;
    }

    .img-movie {
        width: 90%;
        margin: auto; 
    }

    .seasons-dropdown {
        margin-top: 10px;
    }

    .episode-container {
        flex-direction: row; 
        align-items: center;
        justify-content: flex-start; 
        gap: 15px;
    }

    .episode-poster {
        width: 80px;
        margin-right: 10px;
    }

    .episode-info {
        flex: 1;
        padding-left: 10px;
    }

    .main-container {
        margin-left: 0; 
    }

    .back-button {
        position: absolute;
        top: 20px;
        left: 30px;
        background-color: #c5c5c5;
        border: 1px solid #e0e0e0;
        color: #000;
        border-radius: 50%;
        padding: 5px 10px;
        height: 25px;
        width: 20px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    
    
    }
    
    .back-button:hover {
        background-color: #b0b0b0;
        transform: scale(1.05);
    }
}







